/* Here is your custom css styles. */
#busuanzi_container_site_pv {
    display: inline !important;
}

#busuanzi_container_site_uv  {
    display: inline !important;
}

#busuanzi_container_page_pv {
    display: inline !important;
}

/* Color of navigation bar. */
.bg-color {
    /* original green */
    /* background-image: linear-gradient(to right, #4cbf30 0%, #0f9d58 100%); */
    
    /* green -> yellow */
    /* background-image: linear-gradient(to right, #22c1c3 0%, #fdbb2d 100%); */
    
    /* light blue */
    /* background-image: linear-gradient(to right, #36D1DC 0%, #5B86E5 100%); */

    /* light yellow -> light green */
    /* background-image: linear-gradient(to right, #DCE35B 0%, #45B649 100%); */

    /* gray */
    /* background-image: linear-gradient(to right, #232526 0%, #414345 100%); */

    /* orange red */
    background-image: linear-gradient(to right, #ff9966 0%, #ff5e62 100%);
}
